<section class="navigation-d">
  <!-- Left -->
  <div>
    <h2>Anthony<br />Hajjar</h2>
  </div>

  <!-- Middle -->
  <div>
    <a (click)="onClickScroll('education')">Education</a>
    <a (click)="onClickScroll('work')">Work-Experience</a>
    <a (click)="onClickScroll('portfolio')">Portfolio</a>
    <a (click)="onClickScroll('contact')">Contact</a>
  </div>

  <!-- Right -->
  <div class="switch-button">
    <!-- Theme switches -->
    <div class="power-switch" (click)="switchTheme()">
      <input type="checkbox" />
      <div class="button">
        <svg class="power-off">
          <use xlink:href="#line" class="line" />
          <use xlink:href="#circle" class="circle" />
        </svg>
        <svg class="power-on">
          <use xlink:href="#line" class="line" />
          <use xlink:href="#circle" class="circle" />
        </svg>
      </div>
    </div>

    <!-- SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 150 150"
        id="line"
      >
        <line x1="75" y1="34" x2="75" y2="58" />
      </symbol>
      <symbol
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 150 150"
        id="circle"
      >
        <circle cx="75" cy="80" r="35" />
      </symbol>
    </svg>
  </div>
</section>
