@import "./assets/styles/themes.scss";
@import "./assets/styles/responsiveness.scss";
@import "lenis/dist/lenis.css";

@font-face {
  font-family: Fira Code;
  src: url("assets/fonts/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: Open Sans;
  src: url("assets/fonts/OpenSans-VariableFont_wdthwght.ttf");
}

::selection {
  background-color: rgba(233, 233, 0, 0.623);
  color: white;
}


html,
body {
  background-color: var(--main-background);
  transition: background-color 350ms;
  color: var(--text-primary);
  margin: 0;
  scroll-behavior: smooth !important;

  font-family: "Fira Code";
}

* {
  // transition: color 0ms;
}

img,
button,
small,
span,
a,
p,
h1,
h2,
h3,
h4 {
  user-select: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

small {
  color: var(--text-secondary);
}
