<div class="portfolio-main-container">
  <div class="back-button" (click)="back()"><p><- BACK</p></div>
  <div
    *ngFor="let portfolio of portfolioContentFull; let i = index"
    class="portfolio-item"
  >
    <img
      [src]="'/assets/portfolio-images/' + portfolio.image"
      alt="{{ portfolio.title }}"
      (click)="openPortfolio(portfolio)"
    />
    <h3>{{ portfolio.title }}</h3>
  </div>
</div>

<!-- Sliding panel -->
<div class="sliding-panel" [ngClass]="{ open: isPanelOpen }">
  <div class="panel-backdrop" (click)="closePanel()"></div>
  <!-- <div class="panel-header" (click)="closePanel()">Close</div> -->
  <div class="panel-content" *ngIf="selectedPortfolio">
    <div class="panel-info">
      <div class="panel-description">
        <div>
          <h1>{{ selectedPortfolio.title | titlecase }}</h1>
          <img
            (click)="closePanel()"
            width="27px"
            [src]="closeButton"
            alt="Close Button"
          />
        </div>
        <h3>Description:</h3>

        @for (info of selectedPortfolio.description; track $index) {
        <p>{{ info }}</p>

        } @if (selectedPortfolio.link != "null" && selectedPortfolio.link != "" ) {
        <a href="{{ selectedPortfolio.link }}" target="_blank">Visit Website</a>
        }

        <h3>Tech Stack:</h3>
        <div class="techstack">
          @for (tech of selectedPortfolio.technology; track $index) {
          <span>{{ tech }}</span>
          }
        </div>
      </div>
      <div
        class="panel-images"
        [ngStyle]="{
          'column-count': selectedPortfolio.detailImages ? '2' : '1'
        }"
      >
        <img
          (click)="openLightbox(selectedPortfolio.image)"
          [src]="'/assets/portfolio-images/' + selectedPortfolio.image"
          alt="Portfolio image"
        />

        @for (image of selectedPortfolio.detailImages; track $index) {
        <img
          (click)="openLightbox('detail-images/' + image)"
          [src]="'/assets/portfolio-images/detail-images/' + image"
          alt="Portfolio Detail Image"
        />
        }
        <div
          class="lightbox-target"
          (click)="closeLightbox()"
          [ngClass]="{ open: isLightboxOpen }"
        >
          <img
            [src]="'/assets/portfolio-images/' + currentImage"
            alt="Enlarged Portfolio Detail image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
